extends layout

block content
  header.main-header
    .container
      .logo
        a(href='index.html')
          img(src='/static/images/logo.png', alt='logo')
      nav
        ul
          li.active
            a(href='#home-area') Inicio
          li
            a(href='#about-area') About
          li
            a(href='#feature-area') Feature
          li
            a(href='#clients-area') Reviews
          li
            a(href='#screenshot-area') Screenshots
          li
            a(href='#support-area') Contactanos

  section.home
    .container
      img(src='/static/images/screen.png' width='290px')
      div
        h1 AWESOME MOBILE APP
        a.button(href='#') Google Play
  
  section.abaut
    .container
      .feature
        .icon
          i.fa.fa-laptop
        .content
          h2 Titulo
          p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet.
      .feature
        .icon
          i.fa.fa-laptop
        .content
          h2 Titulo
          p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet.
      .feature
        .icon
          i.fa.fa-laptop
        .content
          h2 Titulo
          p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet.
      .feature
        .icon
          i.fa.fa-laptop
        .content
          h2 Titulo
          p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet.
  
  section.best-app
    .container
      h1 BEST MOBILE APP
      p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
      a.button(href='#') Google Play
      
    
  section.screenshots
    .container
      h1.title-line-dark Capturas
      .screenshot
        img(src='http://power-boosts.com/tf/fantasic-preview/fantasic/img/home-1/screenshot/2.jpg')
      .screenshot
        img(src='http://power-boosts.com/tf/fantasic-preview/fantasic/img/home-1/screenshot/2.jpg')
      .screenshot
        img(src='http://power-boosts.com/tf/fantasic-preview/fantasic/img/home-1/screenshot/2.jpg')
      
  section.stats
    .container
      div.stat
       span.number 189 
       span.description Parejas felices 
      div.stat
       span.number 2893 
       span.description Things 
      div.stat
       span.number 89 
       span.description Retos 
      
    
  section.support
    .container
      h1.title-line-dark Contacta con nosotros
      .support-container
        form#support-form(action='#')
          .input-box
            input(type='text', name='name', placeholder='Tu nombre')
          .input-box
            textarea#message(name='message', cols='30', rows='8', placeholder='Tu mensaje')
          .input-box
            input.submit(type='submit', value='ENVIAR')


  footer.footer-main
    .footer-top
      .container
        .footer-social 
          a 
            i.fa.fa-facebook
          a
            i.fa.fa-twitter
          a
            i.fa.fa-youtube
        h1 SIGUENOS EN NUESTRAS REDES SOCIALES
    .footer-bottom
      .container
        p ©Copyright. All Rights Reserved
      
