@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700,900");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");
* {
  box-sizing: border-box;
}
body,
html {
  color: #333;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}
a.button {
  border: 2px solid #fff;
  border-radius: 3px;
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 58px;
  line-height: 58px;
  margin-right: 30px;
  text-align: center;
  width: 200px;
}
a.button i {
  margin-right: 7px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: Raleway;
  font-weight: 800;
}
header.main-header {
  left: 0;
  padding: 20px 0;
  position: absolute;
  right: 0;
  top: 40px;
  width: 100%;
  z-index: 999999;
}
header.main-header.fixed {
  background: #7e495d;
  box-shadow: 0 0 3px rgba(0,0,0,0.15);
  position: fixed;
  top: 0;
}
header.main-header nav {
  padding-top: 1px;
}
header.main-header li {
  display: block;
  float: left;
}
header.main-header li a {
  display: block;
  font-family: raleway;
  font-size: 12px;
  padding: 1em 1.5em;
  position: relative;
  text-transform: uppercase;
}
header.main-header .logo {
  float: left;
  margin-right: 20px;
}
footer.footer-main {
  color: #fff;
  display: block;
}
footer.footer-main .footer-top {
  background: #20242f;
  padding: 125px 0;
  text-align: center;
}
footer.footer-main .footer-top .footer-social {
  text-align: center;
}
footer.footer-main .footer-top .footer-social a {
  border: 1px solid #7d7d7d;
  border-radius: 50%;
  color: #8f8f8f;
  display: inline-block;
  height: 37px;
  line-height: 35px;
  margin: 0 15px;
  width: 37px;
}
footer.footer-main .footer-bottom {
  background: #1b1f28;
  padding: 15px 0;
}
section.home {
  background: #7c4c62 url("/static/images/home-bg.jpg") no-repeat scroll center bottom;
  color: #fff;
  min-height: 500px;
  padding: 170px 0 120px;
}
section.abaut {
  background: #fff;
  padding: 50px 0 80px 0;
}
section.best-app {
  background: #7c4c62 url("/static/images/section-bg.jpg") no-repeat scroll center bottom;
  color: #fff;
  min-height: 500px;
  padding: 40px 0;
}
section.screenshots {
  background: #eee;
  padding-bottom: 80px;
  text-align: center;
}
section.screenshots .screenshot {
  display: inline-block;
  width: 33%;
}
section.screenshots .screenshot img {
  width: 90%;
}
section.stats {
  background: #7c4c62;
  color: #fff;
  padding: 5em 0;
}
section.support {
  background: #eee url("http://power-boosts.com/tf/fantasic-preview/fantasic/img/home-2/price-bg.jpg") no-repeat scroll center bottom;
  min-height: 500px;
  padding: 0 0 120px;
}
.support-container {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  padding: 80px 20px;
}
.input-box {
  margin-bottom: 17px;
}
.input-box input,
.input-box textarea {
  background: #efefef;
  border: 0 none;
  color: #9b9b9b;
  font-size: 13px;
  line-height: 19px;
  padding: 17px 22px;
  width: 100%;
}
h1.title-line-dark {
  background: url("/static/images/title-line-dark.png") no-repeat scroll center top;
  margin: 0 0 60px 0;
  padding-top: 200px;
  text-align: center;
  text-transform: uppercase;
}
.container {
  margin: 0 auto;
  max-width: 970px;
  padding: 0 16px;
}
.feature {
  display: inline-block;
  padding: 16px;
  text-align: center;
  width: 25%;
}
.feature div.icon {
  border-radius: 50%;
  border: 2px solid #bc6372;
  color: #bc6372;
  display: inline-block;
  font-size: 30px;
  height: 100px;
  line-height: 96px;
  margin-bottom: 20px;
  position: relative;
  transform: scale(1);
  width: 100px;
}
.feature h2 {
  color: #373737;
  font-family: Raleway;
  font-weight: 800;
  font-size: 13px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.feature p {
  font-size: 13px;
  line-height: 19px;
}
.stat {
  display: inline-block;
  font-size: 30px;
  text-align: center;
  width: 33%;
}
.stat > * {
  display: block;
}
.stat .number {
  font-size: 2em;
}
@media only screen and (max-width : 600px) {
  body#main-body h1,
  body#main-body h2,
  body#main-body h3 {
    text-align: center;
  }
  body#main-body .container {
    padding: 0 16px;
    width: 100%;
  }
  body#main-body .feature {
    width: 100%;
  }
  body#main-body .logo {
    float: none;
    margin: 0;
    text-align: center;
  }
  body#main-body nav {
    background: #7e495d;
  }
  body#main-body nav li {
    float: none;
  }
  body#main-body nav li a {
    font-size: 14px;
  }
  body#main-body footer h1 {
    font-size: 20px;
  }
  body#main-body section.home img {
    display: none;
  }
  body#main-body section.abaut {
    padding: 0;
  }
  body#main-body .stat {
    font-size: 15px;
  }
  body#main-body .title-line-dark {
    background-position: center -75px;
    padding-top: 130px;
  }
}
